body {
    margin: auto;
    padding: 1rem;
}

p, button {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
}

.collapse-wrapper {
    max-width: 32rem;
    border: 1px solid black;
    overflow-y: hidden;
    transition: 150ms ease-in-out;
    height: 0;
    opacity: 0;
}

.collapse-wrapper.active {
    height: 3.5rem;
    opacity: 100%;
}

.collapse-wrapper .collapse-content {
    margin: 1rem;
}